/* ==========================================================================
   Sections
   ========================================================================== */
.l-section {
    //
}
.l-scope{
  background-image: url("../img/left-promo.jpg");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 225px;
  margin-bottom: 152px;
  height: 514px;
}
